# Merging Your Instacart Data

## Basic Setup: Importing Libraries & files

In [5]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [6]:
# Creating a path
path = r'C:\Users\zwier\anaconda_projects\15-01-2025 Instacart Basket Analysis'

In [7]:
# importing df_ords with os.path.join
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [8]:
# importing df_prods with os.path.join
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [9]:
# importing df_ords_prior with os.path.join
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

### Check the dimensions of the imported dataframe.

In [10]:
# checking the shape of df_ords_prior
df_ords_prior.shape

(32434489, 4)

In [11]:
# checking the shape of df_ords
df_ords.shape

(3421083, 7)

In [12]:
# checking df_ords
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,0.0
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [13]:
# checking df_ords_prior
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [33]:
# Cleaning columns
df_ords = df_ords.drop(columns = ['Unnamed: 0'])

### Merge the dataframe with your df_ords dataframe.

In [47]:
# We are merging 2 df
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', how = 'outer' ,indicator = True)

In [48]:
# Resulsts check
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,1,112108,4,4,10,9.0,NaN,NaN,NaN,left_only
1,2,202279,3,5,9,8.0,33120.0,1.0,1.0,both
2,2,202279,3,5,9,8.0,28985.0,2.0,1.0,both
3,2,202279,3,5,9,8.0,9327.0,3.0,0.0,both
4,2,202279,3,5,9,8.0,45918.0,4.0,1.0,both

### Use the indicator argument to check whether there was a full match between the two dataframes.

In [51]:
# Double check - merge flag
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only       206209
right_only           0
Name: count, dtype: int64

In [83]:
df_merged_large.shape

(32640698, 10)

# Exporting Data in Pickle Format

### CSV Files

In [61]:
# Export data CSV
# df_merged_large.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.csv'))

In [ ]:
# importing df_merged_large - CSV
# df_merged_large = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.csv'), index_col = False)

### PKL Files

In [69]:
# Export data to pkl
# df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [67]:
# importing df_merged_large - PICKLE
# df_merged_large = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))