# Exercise 4.6

## Basic Setup: Importing Libraries & files

In [5]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [6]:
# Creating a path
path = r'C:\Users\zwier\anaconda_projects\15-01-2025 Instacart Basket Analysis'

### In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved.

In [8]:
# importing df_merged_large - PICKLE
df_merged_large = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

### Check the shape of the imported dataframe (it should be the same as the one you exported—always check!).

In [24]:
# Checking
df_merged_large.shape

(32640698, 10)

### Determine a suitable way to combine the orders_products_combined dataframe with your products data set. Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task.

In [33]:
# importing checked and wrangled prods df 
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [41]:
# prod head
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [51]:
# merge large head
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,1,112108,4,4,10,9.0,NaN,NaN,NaN
1,2,202279,3,5,9,8.0,33120.0,1.0,1.0
2,2,202279,3,5,9,8.0,28985.0,2.0,1.0
3,2,202279,3,5,9,8.0,9327.0,3.0,0.0
4,2,202279,3,5,9,8.0,45918.0,4.0,1.0

In [53]:
# Cleaning columns
# df_prods = df_prods.drop(columns = ['Unnamed: 0']) - I had this extra column after importing / no clue why
# df_merged_large = df_merged_large.drop(columns = ['_merge']) - i needed to drop it becasue it was blocking merge in line 47

In [105]:
# Outer Merging with indicator
df_all = df_merged_large.merge(df_prods, on = 'product_id', how = 'outer', indicator = True)

In [106]:
# Lets check the result
df_all.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,1107.0,38259.0,2.0,1.0,11.0,7.0,1.0,7.0,0.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,both
1,5319.0,196224.0,65.0,1.0,14.0,1.0,1.0,3.0,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,both
2,7540.0,138499.0,8.0,0.0,14.0,7.0,1.0,4.0,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,both
3,9228.0,79603.0,2.0,2.0,10.0,30.0,1.0,2.0,0.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,both
4,9273.0,50005.0,1.0,1.0,15.0,0.0,1.0,30.0,0.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,both

### Confirm the results of the merge using the merge flag.

In [109]:
# Value count
df_all['_merge'].value_counts()

_merge
both          32404859
left_only       236409
right_only          11
Name: count, dtype: int64

### Export the newly created dataframe as ords_prods_merge in a suitable format (taking into consideration the size).

In [111]:
# Export data to pkl
# df_all.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))