# Exercise 4.8

In [16]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [17]:
# Creating a path
path = r'C:\Users\zwier\anaconda_projects\15-01-2025 Instacart Basket Analysis'

In [18]:
# importing df
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge4.7.pkl'))

## In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.

### Groupby with agg()

In [21]:
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1.0              15.457838
2.0              17.277920
3.0              17.170395
4.0              17.811403
5.0              15.215751
6.0              16.439806
7.0              17.225802
8.0              15.340650
9.0              15.895474
10.0             20.197148
11.0             16.170638
12.0             15.887671
13.0             16.583536
14.0             16.773669
15.0             16.165037
16.0             17.665606
17.0             15.694469
18.0             19.310397
19.0             17.177343
20.0             16.473447
21.0             22.902379

## Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code.

#### The subset's mean order numbers differ from the full dataset, indicating that it may contain specific types of orders that skew the results. Analyzing the entire dataset provides a more accurate and representative view of overall trends.

## Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

#### Three-step process

In [26]:
# 3 steps in 1 line of code ;) 
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform('max')

#### Deriving Columns with loc()

In [28]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [29]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [30]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

#### Checking the results

In [32]:
# only importan colums
ords_prods_merge[['user_id', 'loyalty_flag', 'max_order']].head(60)

     user_id      loyalty_flag  max_order
0    38259.0      New customer        5.0
1   196224.0    Loyal customer      100.0
2   138499.0  Regular customer       24.0
3    79603.0      New customer        6.0
4    50005.0  Regular customer       23.0
5   108919.0    Loyal customer       52.0
6    63782.0      New customer        7.0
7   170451.0  Regular customer       11.0
8   106854.0    Loyal customer      100.0
9   181127.0  Regular customer       23.0
10  106519.0  Regular customer       24.0
11  145505.0    Loyal customer       68.0
12  139923.0  Regular customer       40.0
13  110984.0  Regular customer       17.0
14  180719.0    Loyal customer       90.0
15  142388.0  Regular customer       12.0
16  200356.0  Regular customer       13.0
17    4122.0    Loyal customer       41.0
18  162394.0      New customer        5.0
19  148255.0  Regular customer       24.0
20  205157.0  Regular customer       13.0
21  181127.0  Regular customer       23.0
22   92648.0  Regular customer       18.0
23   30345.0      New customer        9.0
24   50898.0  Regular customer       40.0
25   57996.0    Loyal customer       66.0
26   77956.0    Loyal customer       91.0
27   22561.0      New customer        6.0
28  199115.0  Regular customer       37.0
29   91160.0    Loyal customer       86.0
30   50150.0  Regular customer       38.0
31   38748.0  Regular customer       31.0
32   65777.0    Loyal customer       49.0
33  134728.0  Regular customer       21.0
34   11119.0  Regular customer       24.0
35   45784.0  Regular customer       25.0
36   21054.0      New customer        4.0
37  196224.0    Loyal customer      100.0
38  102960.0    Loyal customer       82.0
39  113429.0  Regular customer       18.0
40  111982.0    Loyal customer      100.0
41  144159.0  Regular customer       21.0
42   72224.0    Loyal customer       43.0
43   23234.0  Regular customer       16.0
44  131925.0  Regular customer       13.0
45   16057.0  Regular customer       28.0
46  124716.0      New customer       10.0
47   60380.0  Regular customer       29.0
48  197324.0  Regular customer       18.0
49  157800.0  Regular customer       34.0
50   48228.0      New customer        9.0
51   23513.0  Regular customer       23.0
52   95847.0    Loyal customer       95.0
53  101727.0  Regular customer       35.0
54  139923.0  Regular customer       40.0
55   11448.0  Regular customer       22.0
56  162795.0  Regular customer       17.0
57  134130.0  Regular customer       24.0
58  178504.0  Regular customer       37.0
59   80421.0      New customer       10.0

In [33]:
# Value check
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    16381472
Loyal customer      10679578
New customer         5580218
NaN                       11
Name: count, dtype: int64

## The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [35]:
# mean,min,max,median
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max','median']})

                     prices
                       mean  min      max median
loyalty_flag
Loyal customer    10.377144  1.0  99999.0    7.4
New customer      13.208437  1.0  99999.0    7.4
Regular customer  12.616225  1.0  99999.0    7.4

## The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:

### If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”

### If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

#### Three-step process

In [40]:
# 3 steps in 1 line of code ;) 
ords_prods_merge['mean_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform('mean')

#### Deriving Columns with loc()

In [42]:
ords_prods_merge.loc[ords_prods_merge['mean_price'] >= 10, 'spending_flag'] = 'High spender'

In [43]:
ords_prods_merge.loc[ords_prods_merge['mean_price'] < 10, 'spending_flag'] = 'Low spender'

#### Checking the results

In [45]:
# only importan colums
ords_prods_merge[['user_id', 'spending_flag', 'mean_price']].head(60)

     user_id spending_flag  mean_price
0    38259.0   Low spender    7.163333
1   196224.0   Low spender    5.342729
2   138499.0   Low spender    7.469540
3    79603.0   Low spender    6.986207
4    50005.0   Low spender    7.493154
5   108919.0   Low spender    7.020681
6    63782.0   Low spender    5.700000
7   170451.0   Low spender    6.534286
8   106854.0   Low spender    8.594301
9   181127.0   Low spender    7.177143
10  106519.0   Low spender    6.582996
11  145505.0   Low spender    7.179795
12  139923.0   Low spender    6.353535
13  110984.0   Low spender    9.758140
14  180719.0   Low spender    8.588449
15  142388.0   Low spender    6.654412
16  200356.0   Low spender    8.658140
17    4122.0   Low spender    7.598765
18  162394.0   Low spender    7.355556
19  148255.0   Low spender    5.983893
20  205157.0   Low spender    6.322222
21  181127.0   Low spender    7.177143
22   92648.0   Low spender    6.060989
23   30345.0   Low spender    5.844000
24   50898.0   Low spender    7.315333
25   57996.0   Low spender    6.517469
26   77956.0   Low spender    7.289769
27   22561.0   Low spender    6.823810
28  199115.0   Low spender    6.740860
29   91160.0   Low spender    7.317925
30   50150.0   Low spender    7.997849
31   38748.0   Low spender    7.955443
32   65777.0   Low spender    6.275781
33  134728.0   Low spender    6.153191
34   11119.0   Low spender    5.878641
35   45784.0   Low spender    6.152740
36   21054.0   Low spender    5.189655
37  196224.0   Low spender    5.342729
38  102960.0   Low spender    7.327751
39  113429.0   Low spender    7.479439
40  111982.0   Low spender    4.827700
41  144159.0   Low spender    6.158452
42   72224.0   Low spender    6.765598
43   23234.0   Low spender    5.266667
44  131925.0   Low spender    7.351899
45   16057.0   Low spender    6.862338
46  124716.0   Low spender    6.517857
47   60380.0   Low spender    6.933043
48  197324.0   Low spender    8.269799
49  157800.0   Low spender    7.822115
50   48228.0   Low spender    5.998630
51   23513.0   Low spender    6.842857
52   95847.0   Low spender    7.067981
53  101727.0   Low spender    5.846154
54  139923.0   Low spender    6.353535
55   11448.0   Low spender    5.981250
56  162795.0   Low spender    5.297778
57  134130.0   Low spender    7.430492
58  178504.0   Low spender    8.745977
59   80421.0   Low spender    7.708621

In [46]:
# Value check
ords_prods_merge['spending_flag'].value_counts(dropna = False)

spending_flag
Low spender     32001233
High spender      640035
NaN                   11
Name: count, dtype: int64

## In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:

### If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”

### If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”

### If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

#### Three-step process

In [52]:
# 3 steps in 1 line of code ;) 
ords_prods_merge['median_frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform('median')

#### Deriving Columns with loc()

In [54]:
ords_prods_merge.loc[ords_prods_merge['median_frequency'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'

In [55]:
ords_prods_merge.loc[(ords_prods_merge['median_frequency'] <= 20) & (ords_prods_merge['median_frequency'] > 10), 'order_frequency_flag'] = 'Regular customer'

In [56]:
ords_prods_merge.loc[ords_prods_merge['median_frequency'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

#### Checking the results

In [58]:
# only importan colums
ords_prods_merge[['user_id', 'order_frequency_flag', 'median_frequency']].head(60)

     user_id   order_frequency_flag  median_frequency
0    38259.0      Frequent customer               7.0
1   196224.0      Frequent customer               1.0
2   138499.0      Frequent customer               7.0
3    79603.0  Non-frequent customer              28.0
4    50005.0      Frequent customer               7.0
5   108919.0      Frequent customer               7.0
6    63782.0       Regular customer              14.0
7   170451.0       Regular customer              14.0
8   106854.0      Frequent customer               2.0
9   181127.0       Regular customer              14.0
10  106519.0      Frequent customer               7.0
11  145505.0      Frequent customer               4.0
12  139923.0      Frequent customer              10.0
13  110984.0  Non-frequent customer              21.0
14  180719.0      Frequent customer               3.0
15  142388.0       Regular customer              15.0
16  200356.0       Regular customer              15.0
17    4122.0      Frequent customer               7.0
18  162394.0      Frequent customer               7.0
19  148255.0      Frequent customer               7.0
20  205157.0  Non-frequent customer              24.0
21  181127.0       Regular customer              14.0
22   92648.0      Frequent customer              10.0
23   30345.0  Non-frequent customer              30.0
24   50898.0      Frequent customer               4.0
25   57996.0      Frequent customer               6.0
26   77956.0      Frequent customer               4.0
27   22561.0      Frequent customer               9.0
28  199115.0      Frequent customer               8.0
29   91160.0      Frequent customer               2.0
30   50150.0      Frequent customer               7.0
31   38748.0       Regular customer              11.0
32   65777.0      Frequent customer               6.0
33  134728.0       Regular customer              14.5
34   11119.0       Regular customer              13.0
35   45784.0      Frequent customer               7.0
36   21054.0  Non-frequent customer              30.0
37  196224.0      Frequent customer               1.0
38  102960.0      Frequent customer               4.0
39  113429.0       Regular customer              12.0
40  111982.0      Frequent customer               4.0
41  144159.0      Frequent customer               7.0
42   72224.0      Frequent customer               7.0
43   23234.0  Non-frequent customer              30.0
44  131925.0       Regular customer              14.0
45   16057.0      Frequent customer               9.0
46  124716.0  Non-frequent customer              30.0
47   60380.0       Regular customer              14.0
48  197324.0       Regular customer              20.0
49  157800.0      Frequent customer              10.0
50   48228.0  Non-frequent customer              30.0
51   23513.0       Regular customer              12.0
52   95847.0      Frequent customer               4.0
53  101727.0      Frequent customer               7.0
54  139923.0      Frequent customer              10.0
55   11448.0       Regular customer              14.0
56  162795.0      Frequent customer               7.0
57  134130.0       Regular customer              13.0
58  178504.0      Frequent customer               7.0
59   80421.0       Regular customer              13.0

In [59]:
# Value check
ords_prods_merge['order_frequency_flag'].value_counts(dropna = False)

order_frequency_flag
Frequent customer        22877440
Regular customer          7011216
Non-frequent customer     2752612
NaN                            11
Name: count, dtype: int64

In [60]:
# Export data to pkl
# ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge4.8.pkl'))

# Kimera Additional tips section

#### Summary Statistics of Product Prices

In [63]:
# Group by loyalty frag and calculate statistics
price_stats = ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max','median']})
price_stats.round(2) # Limit decimal places

                 prices
                   mean  min      max median
loyalty_flag
Loyal customer    10.38  1.0  99999.0    7.4
New customer      13.21  1.0  99999.0    7.4
Regular customer  12.62  1.0  99999.0    7.4

#### Classify Customers Based on Order Frequency

In [65]:
# Assign loyalty flags using loc()
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) &
                    (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

#### Explanation
##### * Loyal customer: More than 40 orders
##### * Regular customer	: Between 11 and 40 orders
##### * New customer: 10 or fewer orders

#### Summary Statistics of Order Frequency

In [103]:
# Group by Order frequency frag and calculate statistics
Order_Frequency_stats = ords_prods_merge.groupby('order_frequency_flag').agg({'prices': ['mean', 'min', 'max','median']})
Order_Frequency_stats.round(2) # Limit decimal places

                      prices
                        mean  min      max median
order_frequency_flag
Frequent customer      11.78  1.0  99999.0    7.4
Non-frequent customer  12.07  1.0  99999.0    7.3
Regular customer       12.61  1.0  99999.0    7.4

#### Summary Statistics of Spending

In [104]:
# Group by Spending frag and calculate statistics
Spending_stats = ords_prods_merge.groupby('spending_flag').agg({'prices': ['mean', 'min', 'max','median']})
Spending_stats.round(2) # Limit decimal places

               prices
                 mean  min      max median
spending_flag
High spender   222.34  1.0  99999.0    8.2
Low spender      7.78  1.0     25.0    7.4